body {
    margin: 0;
}

body * {
    box-sizing: border-box;
}

.container-register {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 238, 1);
}

.container-register-form {
    width: 100%;
    max-width: 400px; /* Adicionado para limitar a largura máxima do formulário */
    padding: 30px 20px; /* Adicionado para melhorar o espaçamento interno */
    background-color: rgb(18, 18, 54);
    border-radius: 10px;
    display: flex;
    flex-direction: column; /* Mudança para coluna */
    align-items: center; /* Centraliza os itens */
}

.container-title-form-register {
    color: white;
    margin-bottom: 20px; 
    font-weight: 800;
    text-transform: uppercase;
}

select {
    width: 100%; 
    margin-bottom: 10px; 
    padding: 10px; 
    border: none;
    border-radius: 10px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 2px;
    color: rgb(18, 18, 54);
    background-color: white;
    cursor: pointer;
}

select > label {
    color: rgb(255, 238, 1);
}

.container-inputs-form-register {
    width: 100%; 
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 10px; 
}

.container-inputs-form-register > input {
    width: 100%; 
    border-radius: 10px;
    border: none;
    padding: 15px;
    background-color: white;
    font-size: 14pt;
    outline: none;
}

.container-Ihaveanaccount-form {
    text-transform: uppercase;
    margin: 10px 0px;
    text-decoration: none;
    color: rgb(255, 238, 1); 
}

.container-button-form-register {
    width: 100%; 
    padding: 15px 0px;
    border: none;
    border-radius: 10px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 2px;
    color: rgb(18, 18, 54);
    background-color: white;
    cursor: pointer;
    text-align: center; 
}