body {
    margin: 0;
}

body * {
    box-sizing: border-box;
}

.container-login {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 238, 1);
}

.container-image-login {
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container-image-login > h1 {
    color: rgb(18, 18, 54);
}

.container-login-form {
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-campo-form {
    width: 60%;
    padding: 30px 35px;
    background-color: rgb(18, 18, 54);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.container-title-form {
    color: white;
    margin-bottom: 20px;
    font-weight: 800;
    text-transform: uppercase;
    text-align: center;
}

.container-inputs-form {
    width: 100%;
    margin-bottom: 20px;
}

.container-inputs-form > input {
    width: 100%;
    border-radius: 10px;
    border: none;
    padding: 15px;
    background-color: white;
    font-size: 14pt;
    outline: none;
    box-sizing: border-box;
    margin-bottom: 10px;
}
.container-inputs-form{
    color: rgb(255, 238, 1);
}

.container-alt-form, .container-criar-form {
    text-transform: uppercase;
    margin: 10px 0;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    color: rgb(255, 238, 1);
}

.container-button-form {
    width: 100%;
    padding: 15px 0;
    border: none;
    border-radius: 10px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 2px;
    color: rgb(18, 18, 54);
    background-color: white;
    cursor: pointer;
    text-align: center;
    margin-top: 20px; 
}