body {
    margin: 0;
}

body * {
    box-sizing: border-box;
}

.container-register {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.541);
}

.container-register-form {
    width: 100%;
    max-width: 400px; 
    padding: 30px 20px; 
    background-color: rgb(18, 18, 54);
    border-radius: 10px;
    display: flex;
    flex-direction: column; 
    align-items: center; 
}

.container-title-form-register {
    color: white;
    margin-bottom: 20px; 
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
}

select {
    width: 100%; 
    padding: 10px; 
    border: none;
    border-radius: 10px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 2px;
    color: rgb(18, 18, 54);
    background-color: white;
    cursor: pointer;
    text-align: center;
}

.container-select-register{
    color: white;
    text-align: center;
}

.container-inputs-form-register {
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    width: 100%;
    margin-bottom: 15px; 
}
.container-inputs-form-register > label{
    color: white;
}

.container-inputs-form-register > input {
    width: 100%;
    border-radius: 5px;
    border: none;
    padding: 16px;
    background-color: white;
    font-size: 11pt;
    outline: none;
    box-sizing: border-box;
    margin-bottom: 0px;
}
.container-inputs-form-register{
    color: white;
    font-size: 1.4rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container-handleNext-register {
    width: 100%; 
    padding: 15px 0px;
    border: none;
    border-radius: 10px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 2px;
    color: rgb(18, 18, 54);
    background-color: white;
    cursor: pointer;
    text-align: center;
}
.container-handleBack-register{
    width: 100%; 
    padding: 5px 0px;
    border: none;
    border-radius: 10px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 2px;
    color: rgb(18, 18, 54);
    background-color: white;
    cursor: pointer;
    text-align: center;
    margin-bottom: 10px;
}

.container-Ihaveanaccount-form {
    text-transform: uppercase;
    margin: 10px 0px;
    text-decoration: none;
    color: rgb(255, 238, 1); 
    text-align: center;
}

.container-button-form-register {
    width: 100%; 
    padding: 15px 0px;
    border: none;
    border-radius: 10px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 2px;
    color: rgb(18, 18, 54);
    background-color: white;
    cursor: pointer;
    text-align: center; 
}