.cards-SN{
    background-color: rgb(18, 18, 54);
    height: 550px;
    width: 400px;
    clip-path: polygon(6% 0, 94% 0, 100% 6%, 100% 94%, 95% 100%, 5% 100%, 0 94%, 0 6%);
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}

.cards-content-SN{
    height: 534px;
    width: 380px;
    margin-top: 4px;
    background-color: rgb(255, 255, 255);
    clip-path: polygon(6.5% 0.5%, 93.5% 0.5%, 99.5% 6.5%, 99.5% 93.5%, 0.5% 93.5%, 0.5% 6.5%);
}




